<div class="actions-container d-flex justify-content-center">
  <div class="actions-block d-flex flex-wrap">
    <div class="store box d-flex flex-column">
      <p class="type">All Others</p>
      <p class="type">{{storesList.length}}</p>
    </div>
    <div class="return box d-flex flex-column">
      <p class="type">RETURN</p>
      <p class="type">{{returnsList.length}}</p>
    </div>
    <div class="destroy box d-flex flex-column">
      <p class="type">DESTROY</p>
      <p class="type">{{destroyList.length}}</p>
    </div>
  </div>

</div>
<div class="filters d-flex flex-wrap">
  <div class="form-group filter">
    <label for="sel1">Columns</label>
    <select class="form-control" [(ngModel)]="selectedColumn">
      <option *ngFor="let option of columnsList" [value]="option.value">{{option.label}}</option>
    </select>
  </div>

  <div class="form-group filter mx-4">
    <label for="usr">Name:</label>
    <input type="text" [disabled]="!selectedColumn" [(ngModel)]="searchValue" class="form-control" #searchFilter>
  </div>
  <div class="form-group  filter">
    <label for="sel1">Move To</label>
    <select class="form-control" [(ngModel)]="selectedDisposition" (ngModelChange)="onDispositionChange()">
      <option disabled>Select</option>
      <option *ngFor="let option of dispositionTypes" [value]="option.value">{{option.label}}</option>
    </select>
  </div>
  <div class="form-group d-flex align-items-end lock">
    <button class="btn btn-primary l-btn" type="button" (click)="isColumnsInLockState = true">Lock</button>
  </div>
  <div class="action-links d-flex flex-wrap">
    <a class="action-link" (click)="reset()">Reset</a>
    <a class="action-link" (click)="showAll()">Show All</a>
    <a class="action-link" (click)="showDispositionedRecords()">Show Dispositioned Records</a>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th><input type="checkbox" [(ngModel)]="selectAll" (change)="selectOrUnSelectAll($event)" /></th>
      <th *ngFor="let column of columnsList" [ngClass]="{'lock': isColumnsInLockState}"
        (click)="lockOrUnLockColumn(column)">{{column.label}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inventory of inventoryList">
      <td><input type="checkbox" [(ngModel)]="inventory.isSelect" (change)="selectInventory(inventory)" /></td>
      <td>{{inventory.box_code}}</td>
      <td>{{inventory.last_activity_date}}</td>
      <td>{{inventory.storage_location}}</td>
      <td>{{inventory.container_number}}</td>
      <td>{{inventory.client_container_number}}</td>
      <td>{{inventory.quantity}}</td>
      <td>{{inventory.protocol_id}}</td>
    </tr>

  </tbody>
</table>
<div class="pagination">
  <pagination *ngIf="paginationRecords && paginationRecords.length > 10" [boundaryLinks]="true"
    (pageChanged)="pageChanged($event)" [totalItems]="paginationRecords.length" previousText="&lsaquo;"
    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="10"></pagination>
</div>
