 @import './../../../../variables.scss';

 .pagination {
   margin-top: 2rem;
   display: flex;
   flex-basis: 50%;
 }

 .action-buttons {
   margin-bottom: 2rem;

   button {
     font-size: 1.4rem;
   }
 }

 .actions-container {
   margin-bottom: 2rem;
   align-items: center;

   .actions-block {
     .box {
       border: 1px solid $purple1;
       height: 100px;
       width: 25rem;
       justify-content: center;
       align-items: center;
       border-radius: 6px;

       &.return {
         margin: 0 5rem;
       }

       .btns-list {
         margin-top: 1rem;

         .m-btn {
           margin: 0 1rem;
         }
       }
     }
   }

   .reset {
     margin-left: 3rem;
   }
 }

 .filters {
   .filter {
     width: 25rem;
   }

   .lock {
     margin-left: 3rem;
   }

   .action-links {
     align-items: center;
     flex: 1;
     justify-content: flex-end;

     .action-link {
       margin: 2rem 1rem 1rem 1rem;
       cursor: pointer;
       color: $purple;

       &:hover {
         text-decoration: underline;
       }
     }
   }
 }

 .lock {
   cursor: pointer;
 }

 .column-locked {
   background-color: grey;
   position: sticky;
 }

 .clickable {
   cursor: pointer;
 }
