<div class="action-buttons d-flex justify-content-end">
  <button class="btn btn-primary" type="button" (click)="editInventory()"
    [disabled]="!selectedInventoryList || !selectedInventoryList.length">Edit</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Box Code</th>
      <th>Last Activity Date</th>
      <th>Storage Location</th>
      <th>Container Number</th>
      <th>Client Container Number</th>
      <th>Quantity</th>
      <th>Protocol Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inventory of inventoryList">
      <td><input type="checkbox" [(ngModel)]="inventory.isSelect" (change)="selectInventory(inventory)" /></td>
      <td>{{inventory.box_code}}</td>
      <td>{{inventory.last_activity_date}}</td>
      <td>{{inventory.storage_location}}</td>
      <td>{{inventory.container_number}}</td>
      <td>{{inventory.client_container_number}}</td>
      <td>{{inventory.quantity}}</td>
      <td>{{inventory.protocol_id}}</td>
    </tr>

  </tbody>
</table>
<div class="pagination">
  <pagination *ngIf="totalinventoryList && totalinventoryList.length > 10" [boundaryLinks]="true"
    (pageChanged)="pageChanged($event)" [totalItems]="totalinventoryList.length" previousText="&lsaquo;"
    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="10"></pagination>
</div>
