 @import './../../../../variables.scss';

 .composition-block {
   min-height: 325px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
 }


 select {
   width: 100%;
 }

 .modal-body {
   padding: 0;

   .banner {
     background: $green-text;
     color: $light-green;
     padding: 1rem;
     font-weight: 500;
     border-bottom: 1px solid $green1;
     align-items: center;

     p {
       flex: 1;
       margin: 0;

       .count {
         background: $green-shine;
         color: $white;
         padding: 0.25rem 1.5rem;
         border-radius: 5rem;
       }
     }

     .btn {
       background: $green-shine;
       border-color: $green1;
     }
   }

   .composition-container {
     padding: 1rem;

     .composition-table {
       max-height: 50rem;
       overflow-y: auto;
     }

     tbody {
       tr.select {
         background-color: $green-text;
       }
     }
   }
 }
