<div class="modal-header">
  <p class="modal-title pull-left">{{title}}</p>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="composedInventoryList && composedInventoryList.length">
    <div class="banner d-flex" *ngIf="!viewChanges; else showChanges">
      <p class="flex-1">You have made changes to <span class="count">{{composedInventoryList.length}}</span> Object</p>
      <button class="btn btn-success" type="button" (click)="viewChanges = true">View Changes</button>
    </div>
    <ng-template #showChanges>
      <div class="banner d-flex">
        <p class="flex-1">Viewing Changes for <span class="count">{{composedInventoryList.length}}</span> Objects
        </p>
        <button class="btn btn-success" type="button" (click)="viewChanges = false">close</button>
      </div>
    </ng-template>
  </ng-container>
  <div class="composition-container d-flex flex-column">
    <div class="composition-table">
      <table class="table">
        <thead>
          <tr>
            <th>Box Code</th>
            <th>Quantity</th>
            <th>Protocol Id</th>
            <th>Select</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="!viewChanges; else showChanges">
            <tr *ngFor="let inventory of selectedInventoryList" [ngClass]="{select: inventory.composedVal}">
              <td>{{inventory.box_code}}</td>
              <td>{{inventory.quantity}}</td>
              <td>{{inventory.protocol_id}}</td>
              <td>
                <select class="form-control" (change)="selectComposition($event, inventory)">
                  <option value="" selected disabled>Please select</option>
                  <option value="store">Store</option>
                  <option value="return">Return</option>
                  <option value="destroy">Destroy</option>
                </select>
              </td>
            </tr>
          </ng-container>
          <ng-template #showChanges>
            <tr *ngFor="let inventory of composedInventoryList" [ngClass]="{select: inventory.composedVal}">
              <td>{{inventory.box_code}}</td>
              <td>{{inventory.quantity}}</td>
              <td>{{inventory.protocol_id}}</td>
              <td>
                {{inventory.composedVal}}
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
    <div class="action-buttons d-flex justify-content-end mt-3">
      <button class="btn btn-primary mr-3" type="button" (click)="close()">Cancel</button>
      <button class="btn btn-primary" [disabled]="!composedInventoryList || !composedInventoryList.length" type="button"
        (click)="close()">Save</button>
    </div>
  </div>
</div>
