@import "~@ng-select/ng-select/themes/default.theme.css";

/**Variables***/


/*universal selector*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 3rem;
  box-sizing: border-box;

}

button:focus,
input:focus {
  box-shadow: none !important;
}

.progress {
  height: 8px !important;
}

.cdk-overlay-container {
  z-index: 9999;
}

input:focus,
input:active {
  outline: 0 !important;
  box-shadow: none !important;
}

button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.show-error-msg {
  color: red;
  height: auto;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;

  ul {
    list-style: disc;
    margin: 0;
  }
}

.service-error-msg {
  color: red;
  height: auto;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.invalid {
  border: 1px solid red !important;
}

.select-invalid {
  border: 1px solid red !important;
  border-radius: 4px
}
