@import "~@ng-select/ng-select/themes/default.theme.css";
@import './variables.scss';


/*universal selector*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $black;
  box-sizing: border-box;
  background-color: $grey-light;
}

p {
  margin: 0 !important;
}

button:focus,
input:focus {
  box-shadow: none !important;
}

.table {
  background-color: $white;
  margin: 0;

  td,
  th {
    border: 1px solid $grey1;
    padding: 1.5rem .75rem;
    text-align: center;
  }

  thead th {
    border-bottom: 1px solid $yellow1;
    background: $grey2;
    color: $purple;
    font-weight: normal;
    padding: 0.75rem;
  }
}

h3.heading {
  font-size: 1.6rem;
  font-weight: 500;
  color: $blue;
  text-align: left;
  width: 100%;
}

.btn {
  font-size: 1.4rem;
}

.modal-title {
  font-size: 2rem;
  font-weight: 500;
  color: $blue;
}
