/**Variables***/
$black: #000000;
$white: #ffffff;
$grey: #777777;
$blue: #006cd1;
$grey-light: #f0f0f0;
$grey-dark: #424242;
$grey-mid: #c4c4c4;
$yellow: #f5c51c;
$yellow1: #ffb305;
$grey1: #dee2e6;
$light-blue: #4472c4;
$purple: #6964b0;
$grey2: #eeeeea;
$purple1: #2a2c67;
$grey3: #e9e3e3;
